
.Group {
  cursor: default;
  margin-right: 20px;
  margin-bottom: 10px;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  font-size: 20px;
  color: rgba(100,20,1);
  border-color: #1379FE;
  background-color: transparent;
}
a {
  margin: auto;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 15px;
  color: gray;
  position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;
}

a:hover {
    color: black;
  }
 a:after {
      right: 0;
      left: 0;
      height: 100%;
    }
a[expired=true] {
	color: red;
}
input {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif; 
  color: #fe6637;
  transition: .2s ease-in-out;
}
input:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
}
input:hover {
  background: grey;
  color: #fff;
}
input:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}

p{
  display: block;
  background: #1379FE;
  padding: 8px;
  font-size: 40px;
  color: white;
  
  border-color: #1379FE;
}

table {
  border: 2px solid white;
 
  background: white;
  width: 100%
}
tr{
	height:20px;
}
td{
	width: 20px;
}
td[color=Done]{
	background: #33cc33;
}
td[color=Undone]{
	background: #ff0000;
}
td[color=Todo]{
	background: #0099ff;
}

